<%- include('../partials/header') %>


<section>
    <div class="container">
        <h1>Un apperçu de nos prestations</h1>

        <div>
        <% if (completeGalleryImage && completeGalleryImage[0]) {
            completeGalleryImage.map((item) => { %>
                <div>
                    <h2>
                        <%= item.gallery.name %>
                    </h2>

                    <% if (item.galleryImages[0]) { %>
                        <figure class="galerie">
                            <% item.galleryImages.map((item) => { %>
                                <div><img src="/assets/images/site/<%= item.image %>" alt="<%= item.description %>"></div>                            
                            <% }) %>
                        </figure>
                    <% } %>
                </div>
            <% })
        } %>
        
        </div>
        
    </div>
</section>


<%- include('../partials/footer') %>