<%- include('../partials/header') %>


<section>
    <div class="container">
        <h1>Marquer vos événements grâce à nos prestations</h1>
    </div>

    <div class="cards">
        <% if (indexCards[0]) {
            indexCards.map((item) => { %>
            <div class="card">
                <div class="bg" style="background-image: url('/assets/images/site/<%= item.photo %>')"></div>
                <div class="container-card">
                    <div class="card-body">
                        <h2><%= item.name %></h2>
                        <p><%= item.description %></p>
                    </div>
                </div>
            </div>
        <% })} %>
    </div>
</section>


<%- include('../partials/footer') %>